*{
    max-width: 960px;
    margin: auto;
}

body{
    background: lightblue;
}

.menu{
    padding-top: 50px;
    display: flex;
    text-align: center;
    list-style: none;
    margin: auto;
}

h1{
    padding: 20px;
    text-align: center;
}

.bai1{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai2{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai3{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai4{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai5{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai6{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai7{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai8{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai9{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai10{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai11{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai12{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai13{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai14{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}
