*{
    max-width: 1170px;
    margin: 0px auto;
}

.content{
    background-color: antiquewhite;
    padding: 10px;
}

.header{
    border-bottom: 3px solid #111;
    padding: 10px;
}

.clearfix{
    clear: both;
}

.logo img{
    height: 100%;
    width: auto;
}

.logo{
    float: left;
    height: 45px;
    
}

.icon-head li{
    float: right;
    list-style: none;   
    padding: 15px;
    padding-left: 30px;
}

h1.tieude{
    color: green;
    text-align: center;
    padding: 15px;
}

.content{
    display: flex;
}

.main-content{
    flex-basis: 60%;
    padding: 20px;
}

.sidebars{
    flex-basis: 40%;
    padding: 30px;
    margin-top: 25px;
}

h3, h4{
    padding: 10px;
}

p{
    padding: 5px;
}

a{
    text-decoration: none;
}

.WC22{
    border: 1px solid #111;
    padding: 3px;
}

.new-item1{
    position: relative;
    padding-top: 5px;
}
.sidebar-item1{
    position: absolute;
    text-align: left;
    left: 133px;
    bottom: 26px;
}

.new-item2{
    position: relative;
    padding-top: 5px;
}
.sidebar-item2{
    position: absolute;
    text-align: left;
    left: 133px;
    bottom: 26px;
}

.new-item3{
    position: relative;
    padding-top: 5px;
}
.sidebar-item3{
    position: absolute;
    text-align: left;
    left: 133px;
    bottom: 26px;
}

.new-item4{
    position: relative;
    padding-top: 5px;
}
.sidebar-item4{
    position: absolute;
    text-align: left;
    left: 133px;
    bottom: 26px;
}

.new-item5{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sidebar-item5{
    position: absolute;
    text-align: left;
    left: 133px;
    bottom: 32px;
}



